.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rproj
.Rcheck/
..Rcheck/
SCoRES.Rcheck/
.Rd2pdf*
nul

*.tar.gz
*.zip
*.pdf
*.html

_pkgdown.yml
docs/
inst/doc/
Meta/
lib/
coverage.html

WorkingCode.R
Simulation.R
Simulation.Rmd
Simulation.html
SCoRES_Simulation.ipynb
RESI.pdf
SCoRES.pdf

data-raw/
data/ccds.rda
R/data_ccds.R
inst/extdata/

Thumbs.db
.DS_Store
