.Rproj.user
.Rhistory
WorkingCode.R
README.html
inst/doc
/doc/
/Meta/
R/data_ccds.R
data-raw/ccds_load.R
data/ccds.rda
_pkgdown.yml
SCoRES.pdf
Simulation.R
Simulation.Rmd
Simulation.html
coverage.html
lib/
SCoRES_Simulation.ipynb

