.Rproj.user
.Rhistory
WorkingCode.R
README.html
inst/doc
inst/extdata
/doc/
/Meta/
R/data_ccds.R
data-raw/ccds_load.R
data/ccds.rda
_pkgdown.yml
SCoRES.pdf
RESI.pdf
Simulation.R
Simulation.Rmd
Simulation.html
coverage.html
lib/
SCoRES_Simulation.ipynb
/..Rcheck/
/.Rd2pdf14112/
nul
^\.github$
